<div class="row">
	<div class="col-sm-6 col-sm-offset-3">
		<h1>Nuevo Equipo <i class="fa fa-plus-circle" aria-hidden="true"></i> </h1>

		<%= render 'form' , locals: {button_text: "Crear equipo"}%>

		<%= link_to 'Volver', equipment_index_path %>		
	</div>
</div>