<div class="row">
    <div class="col-sm-6 col-sm-offset-3">

        <h1>Editar Trabajador</h1>

        <%= render 'form' , locals: {button_text: "Guardar cambios"}%>

        <%= link_to 'Volver', workers_path %>

    </div>
</div>
