<div class="row">
	<div class="col-sm-6 col-sm-offset-3">
		<h1>Editar Vehiculo <i class="fa fa-plus-pincel" aria-hidden="true"></i> </h1>

		<%= render 'form' , locals: {button_text: "Guardar Cambios"}%>
		
		<%= link_to 'Ver', @vehicle %> |
		<%= link_to 'Volver', vehicles_path %>
	</div>
</div>


